// GENERAL
* {
    margin: 0;
    padding: 0;
}
// HEADER VARIABLES
$headerPadding: 2ch;
// ROW VARIABLES
$rowPadding: 2ch;
// PADDINGS VARIABLES
$cardPadding: 2ch;
// CARD VARIABLES
$cardBgColor: beige;

// HEADER
header {
    text-align: center;
    background-color: lightpink;
    padding: $headerPadding;
}

// ROW
.row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    margin: auto;
    padding: $rowPadding;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: $cardBgColor;
    max-width: 20%;
    text-align: justify;
    padding: $cardPadding;
}

.card h2 {
    display: flex;
    align-items: center;
    height: 100px;
    text-align: center;
}