/* general */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fde1cb;
}

h1 {
    text-align: center;
    font-family: 'Courier New';
    letter-spacing: 1px;
    text-transform: lowercase;
    color: rgb(232, 111, 67);
    margin: 1ch;
}

/* header */
header {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin: auto;
}

header p {
    display: flex;
    flex-direction: column;
    background-color: #f9caa5;
    max-width: 80%;
    margin: auto;
    padding: 1ch;
    font-family: Tahoma;
    font-size: smaller;
    color: rgb(82, 21, 13);
}

header img {
    display: flex;
    flex-direction: column;
    max-width: 15%;
    margin: auto;
    padding: 1ch;
}

/*body*/
/* collection */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    flex-grow: 1;
    max-width: 90%;
    margin: auto;
    padding: 1ch;
    gap: 10px;
}

/* cards */
.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 174, 147);
    margin: auto;
    padding: 1ch;
    border-radius: 2ch;
}

.card img {
    width: 250px;
    height: 120px;
    border-radius: 1ch;
    margin: auto;
}

.card h2 {
    font-family: Tahoma;
    text-align: center;
    color: saddlebrown;
    background-color: rgb(230, 155, 123);
    margin: 1ch;
    font-size: 20px;
}

.card h5 {
    font-family: Tahoma;
    text-align: center;
    color: rgb(248, 236, 227);
}

/*b.card p {
    background-color: rgb(231, 160, 130);
    padding: 1.5ch;
    /*font-family: Tahoma;
    font-size: smaller;
}*/

hr {
    margin: 1ch;
    border-top: 1px solid rgb(251, 206, 174);
}

/* movie type style */

.anime {
    font-family: 'Lucida Sans';
    font-size: smaller;
    font-weight: 600;
    letter-spacing: 3px;
    background-color: rgb(255, 188, 239);
    color: rgb(185, 36, 162);
    border-radius: 20px;
    margin: 1ch;
    max-width: 22%;
}

.movie {
    font-family: 'Lucida Sans';
    font-size: smaller;
    font-weight: 600;
    letter-spacing: 3px;
    background-color: rgb(255, 233, 187);
    color: rgb(156, 121, 46);
    border-radius: 20px;
    margin: 1ch;
    max-width: 22%;
}

.series {
    font-family: 'Lucida Sans';
    font-size: smaller;
    font-weight: 600;
    letter-spacing: 3px;
    background-color: rgb(255, 194, 172);
    color: rgb(142, 73, 33);
    border-radius: 20px;
    margin: 1ch;
    max-width: 22%;
}

.animationMovie {
    font-family: 'Lucida Sans';
    font-size: smaller;
    font-weight: 600;
    letter-spacing: 3px;
    background-color: rgb(255, 196, 196);
    color: rgb(148, 64, 64);
    border-radius: 20px;
    margin: 1ch;
    max-width: 65%;
}

.videoImg {
    max-width: 30px;
    max-height: 30px;
    padding: 1ch;
}

.genre {
    text-align: center;
    font-family: 'Verdana';
    font-size: small;
    padding: 1ch;
}