* {
    margin: 0;
    padding: 0;
    background-color: #fde1cb;
}

hr {
    margin: 1ch;
    border-top: 1px solid rgb(251, 206, 174)

}

h1 {
    text-align: center;
    font-family: 'Courier New';
    letter-spacing: 1px;
    text-transform: lowercase;
    color: coral;
    margin: 1ch;
}

/* header */
header {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin: auto;
}

header p {
    display: flex;
    flex-direction: column;
    background-color: #fbc59c;
    max-width: 80%;
    margin: auto;
    padding: 1ch;
    font-family: Tahoma;
    font-size: smaller;
    color: rgb(82, 21, 13);
}

header img {
    display: flex;
    flex-direction: column;
    max-width: 15%;
    margin: auto;
    padding: 1ch;
}


/* collection */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    flex-grow: 1;
    max-width: 90%;
    margin: auto;
    padding: 1ch;
    gap: 10px;
}

/* cards */
.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 160, 130);
    margin: auto;
    padding: 1ch;
    border-radius: 2ch;
}

.card p {
    background-color: rgb(231, 160, 130);
}

.card h2 {
    font-family: Tahoma;
    text-align: center;
    color: saddlebrown;
    background-color: rgb(231, 160, 130);
    margin: 1ch;
    font-size: 12px;
}

.card img {
    width: 250px;
    height: 120px;
    border-radius: 1ch;
    margin: auto;
}